# 1.0 IMPORTANDO OS DADOS

In [ ]:
# IMPORTANDO BIBLIOTECAS E CONECTANDO O BANCO DE DADOS

import sqlite3
import pandas as pd
 
conn = sqlite3.connect('database.db')

In [ ]:
# TABELA COM TODAS AS COLUNAS
consulta_total = 'SELECT * FROM flight_activity LIMIT 5'
df_atividade = pd.read_sql_query(consulta_total, conn)
display(df_atividade)

In [ ]:
# CONSULTA NO BANCO DE DADOS
consulta_atividade = """

    SELECT
        fa.loyalty_number,
        fa.year,
        fa.month,
        fa.flights_booked
    FROM flight_activity as fa
    WHERE fa.flights_booked > 10

"""

df_atividade = pd.read_sql_query(consulta_atividade, conn)
display(df_atividade)

# 2.0 EXERCICIOS:

In [ ]:
# Selecione as colunas: loyalty_number, year, month, flights_booked, total_flights, distance e points_accumulated 

consulta_atividade = """

    SELECT
        fa.loyalty_number,
        fa.year,
        fa.month,
        fa.flights_booked,
        fa.total_flights,
        fa.distance,
        fa.points_accumulated
    FROM flight_activity as fa

"""

df_atividade = pd.read_sql_query(consulta_atividade, conn)
display(df_atividade)

In [ ]:
#Selecione as mesmas colunas, porém, recupere somente as linhas cuja coluna distance é maior do que 2000

consulta_atividade = """

    SELECT
        fa.loyalty_number,
        fa.year,
        fa.month,
        fa.flights_booked,
        fa.total_flights,
        fa.distance,
        fa.points_accumulated
    FROM flight_activity as fa
    WHERE distance > 2000

"""

df_atividade = pd.read_sql_query(consulta_atividade, conn)
display(df_atividade)

In [ ]:
#Selecione as mesmas colunas, porém, recupere somente as linhas cuja coluna distance é maior do que 2000 e a coluna month é igual a 9

consulta_atividade = """

    SELECT
        fa.loyalty_number,
        fa.year,
        fa.month,
        fa.flights_booked,
        fa.total_flights,
        fa.distance,
        fa.points_accumulated
    FROM flight_activity as fa
    WHERE distance > 2000 AND month = 9

"""

df_atividade = pd.read_sql_query(consulta_atividade, conn)
display(df_atividade)

In [ ]:
#Selecione as colunas: loyalty_number, country, city, gender e loyalty_card, salary da tabela “flight_loyalty_history”. 
consulta_atividade = """

    SELECT
        flh.loyalty_number,
        flh.country,
        flh.city, 
        flh.gender,
        flh.loyalty_card
    FROM flight_loyalty_history as flh

"""

df_atividade = pd.read_sql_query(consulta_atividade, conn)
display(df_atividade)

In [ ]:
# Selecione as mesmas colunas, porém, recupere somente as linhas cuja coluna gender é igual a Female
consulta_atividade = """

    SELECT
        flh.loyalty_number,
        flh.country,
        flh.city, 
        flh.gender,
        flh.loyalty_card
    FROM flight_loyalty_history as flh
    WHERE flh.gender = 'Female'
"""

df_atividade = pd.read_sql_query(consulta_atividade, conn)
display(df_atividade)

# 3.0 INSPECIONANDO OS DADOS